@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  background: #00bf8f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #002b21, #01533f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  color: white;
}